$colorWhite: #fff;
body {
  background: $colorWhite;
  // user-select: none; //取消用户选中文字
}

img {
  -webkit-user-drag: node; // 禁止图片拖动
}

// 首页的样式
.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: $colorWhite;
}
